<!DOCTYPE html>
<!--


    ____    __ ___    _ _     __ _ _ __  _ __  ___
   |  _  \ / _` | \  / / |   / _` |  _ \|  _ \/ __|
   | |_ ) | (_| |\ \/ /| |  | (_| | |_) | |_) \__ \
   |____ / \__,_| \__/ |_|   \__,_|  __/|  __/|___/
         copyright <%= year %> <%= version %> |_|   |_|  

Created by daviinacio

-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <title><%= title %></title>

    <meta name="description" content="<%= description %>" />

    <meta name="twitter:image:src" content="<%= cover_url %>" />
    <meta name="twitter:site" content="<%= twitter_username %>" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= description %>" />

    <meta property="og:image" content="<%= cover_url %>" />
    <meta property="og:site_name" content="<%= site_name %>" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:url" content="<%= site_url %>" />
    <meta property="og:description" content="<%= description %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="" />

    <script type="module">
        import { applyTheme } from "@/lib/theme.ts";
        try {
          applyTheme();
        }
        catch(err){
          alert(err.message)
        }
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
