<!DOCTYPE html>
<!--


    ____    __ ___    _ _     __ _ _ __  _ __  ___
   |  _  \ / _` | \  / / |   / _` |  _ \|  _ \/ __|
   | |_ ) | (_| |\ \/ /| |  | (_| | |_) | |_) \__ \
   |____ / \__,_| \__/ |_|   \__,_|  __/|  __/|___/
         copyright <%= year %> <%= version %> |_|   |_|  

Created by daviinacio

-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta name="theme-color" content="" />
    <script>
      const preferences =
        JSON.parse(localStorage.getItem("preferences") || "{}") || {};

      // Sets tailwind theme before client render
      const isBrowserDarkMode = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;

      const isDarkMode =
        preferences.theme === "dark" ||
        (preferences.theme === "system" && isBrowserDarkMode);
      window.document.documentElement.classList.add(
        isDarkMode ? "dark" : "light"
      );

      // Set custom colors
      const colorPrimary = preferences["color-primary"] || "142 72% 42%";
      document.documentElement.style.setProperty("--primary", colorPrimary);

      const colorPrimaryDark = colorPrimary.split(" ").map((c, i) => {
        if (i !== 2) return c;
        return `${Math.max(0, parseInt(c) - 10)}%`;
      });
      document
        .querySelector('meta[name="theme-color"]')
        ?.setAttribute("content", `hsl(${colorPrimaryDark})`);
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
